.battle {
	image-rendering: pixelated;
	position: absolute;
	inset: 0;
	background-image: url(../assets/images/maps/StreetBattle.png);
	background-size: cover;
}

.battle__hero,
.battle__enemy {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../assets/images/characters/shadow.png) no-repeat no-repeat;
	transform: scale(2);
	overflow: hidden;
}

.battle__hero img,
.battle__enemy img {
	pointer-events: none;
}

.battle__hero img {
	transform: translateY(-64px); /* make hero face upwards */
}

.battle__hero {
	inset: auto auto 57px 1px;
}

.battle__enemy {
	inset: 42px -1px auto auto;
}

/* Battle Animations */
.blinking {
	animation: blinking 0.3s steps(2, start) infinite;
}

.spin-left {
	animation: spinLeft 0.8s;
}

.spin-right {
	animation: spinRight 0.8s;
}

.slip {
	animation: slip 2s ease-in-out forwards;
}

.glob-orb {
	position: absolute;
}

.glob-orb > img {
    width: 50px;
    aspect-ratio: 1 / 1;
}

.glob-orb-left {
	inset: 56px auto auto 227px;
	animation: globOrbLeft 1s forwards;
}

.glob-orb-right {
	inset: 104px auto auto 70px;
	animation: globOrbRight 1s forwards;
}

@keyframes blinking {
	to {
		visibility: hidden;
	}
}

@keyframes spinLeft {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
	}

	25% {
		transform: translate3d(-100%, 25%, 0) rotate(45deg) scale(2);
	}

	100% {
		transform: translate3d(0, 0, 0) scale(2);
	}
}

@keyframes spinRight {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
	}

	25% {
		transform: translate3d(155px, -30px, 0) rotate(45deg) scale(2);
	}

	100% {
		transform: translate3d(0, 0, 0) scale(2);
	}
}

@keyframes globOrbLeft {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0.5);
	}

	50% {
		opacity: 1;
		transform: translate3d(-10px, -50px, 0) scale(1);
	}

	80% {
		opacity: 1;
		transform: translate3d(-174px, 47px, 0) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate3d(-174px, 47px, 0) scale(3);
	}
}

@keyframes globOrbRight {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0.5);
	}

	50% {
		opacity: 1;
		transform: translate3d(10px, -80px, 0) scale(1);
	}

	80% {
		opacity: 1;
		transform: translate3d(149px, -47px, 0) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate3d(149px, -47px, 0) scale(3);
	}
}

@keyframes slip {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
	}

	25% {
		transform: translate3d(30px, 0, 0) rotate(15deg) scale(2);
	}

	50% {
		transform: translate3d(-20px, 0, 0) rotate(-10deg) scale(2);
	}

	75% {
		transform: translate3d(30px, 0, 0) rotate(15deg) scale(2);
	}

	100% {
		transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
	}
}
