:root {
	--clr-primary: hsl(204, 70%, 53%);
	--clr-secondary: hsl(204, 85%, 37%);
	--clr-accent: hsl(194, 36%, 71%);
	--clr-light: hsl(0 0% 97%);
	--clr-dark: hsl(240, 2%, 23%);
	--clr-border: hsl(199, 54%, 17%);

	--ff-body: 'Dosis', monospace;
    
    --mapTransitionSpeed: 400ms;
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
video,
picture,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--clr-primary);
	font-family: var(--ff-body);
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overflow: hidden;
}

.game {
	position: relative;
	width: 352px;
	height: 198px;
	transform: scale(3.5);
}

.game canvas {
	image-rendering: pixelated;
}

/* Media Queries */
@media (width <= 55em) {
	.game {
		transform: scale(2.5);
	}
}

@media (width <= 40em) {
	.game {
		transform: scale(2);
	}
}

@media (width <= 32em) {
	.game {
		transform: scale(1.5);
	}
}

@media (width <= 23em) {
	.message {
		--maxWidth: 230px;
	}
}
