:root {
	--clr-primary: hsl(204, 70%, 53%);
	--clr-secondary: hsl(204, 85%, 37%);
	/* --clr-primary: hsl(194, 36%, 71%); */
	--clr-light: hsl(0 0% 97%);
	--clr-dark: hsl(240, 2%, 23%);
	--clr-border: hsl(199, 54%, 17%);

	--ff-body: 'Sora', monospace;
	--ff-text: 'Dosis', monospace;

	/* Text Message Variables */
	--border-color: #291d4d;
	--dialog-background: #fff3b4;

	--menu-background: #ffe8d2;
	--menu-border-color: #a48465;
	--menu-font-color: #3a160d;
	--menu-selected-background: #7fc2ff;
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
video,
picture,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
	background-color: var(--clr-primary);
	font-family: var(--ff-body);
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overflow: hidden;
}

.game {
	position: relative;
	width: 352px;
	height: 198px;
	transform: scale(3.5);
}

.game canvas {
	image-rendering: pixelated;
}

/* Text Message Styles */
.message {
	--maxWidth: 70%;
	--minHeight: 30%;

	position: relative;
	min-height: var(--minHeight);
	width: var(--maxWidth);
	background-color: var(--clr-light);
	margin-inline: auto;
	padding: 0.75em;
	font-family: var(--ff-text);
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--clr-dark);
	line-height: 1.2em;
	word-spacing: 0.2em;
	border: 1px solid var(--clr-border);
	border-radius: 0.125rem;
	box-shadow: 0 3px 0 0 var(--clr-secondary);
	cursor: pointer;
	user-select: none;
	animation: slideIn 0.5s forwards;
}

.message__corner {
	position: absolute;
	inset: auto 0.5rem 0 auto;
	width: 2rem;
	transform: translateY(80%);
}

.message__corner::before {
	content: '';
	position: absolute;
	inset: 21% 0 0 auto;
	width: 1px;
	background-color: var(--clr-border);
}

.message__corner::after {
	content: '';
	position: absolute;
	inset: auto auto 11.5px 1px;
	width: 35px;
	height: 1px;
	background-color: var(--clr-border);
	transform-origin: bottom center;
	transform: rotate(44deg);
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translate(100%, -120%);
	}

	to {
		opacity: 1;
		transform: translate(0, -120%);
	}
}

/* Media Queries */
@media (width <= 55em) {
	.game {
		transform: scale(2.5);
	}
}

@media (width <= 40em) {
	.game {
		transform: scale(2);
	}
}

@media (width <= 32em) {
	.game {
		transform: scale(1.5);
	}
}

@media (width <= 23em) {
	.message {
		--maxWidth: 230px;
	}
}
